footer {
    margin-top: 15px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
footer a {
    color: #FFF;
}
footer a:hover, footer a:focus {
    color: #F1FE7A;
}